div {
    border: 1px solid;
}
body {
    background-image:url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTA7gYgTSvmEFDEwQhAJjcbLOgdCYdqgh1pTImwi-A1itOALNQzaA);
    background-attachment: fixed;
    color:#F6CECE;
    
}